.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-sm{
    font-size: 0.8rem;
}
.input-style{
    height: 2.2rem;
    width: 12rem;
    border: var(--clr-primary-2) solid 0.15rem;
    margin: 0.5rem;
}
.login-container{
    height: 15rem;
    width: 15rem;
}
.sing-up-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign-up-btn {
    background-color:var(--clr-primary-2);
    border-color: transparent;
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: center;
    border-radius: 40%;
    color: var(--clr-grey-10);
    cursor: pointer;
    align-self: center;
}
.sign-up-btn:hover{
    background-color: var(--clr-primary-9);
    color: var(--clr-grey-2);
}
.admin-logger{
    cursor: pointer;
}
.admin-logger:hover{
    color: #b4345c;
}
.txt-blue{
    color: var(--clr-primary-2);
}